# Archivos auxiliares de LaTeX
*.aux
*.bbl
*.blg
*.log
*.lof
*.lot
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
/docs/Formal/TFM.pdf
*.txt
*.synctex(busy)
*.DS_Store
.DS_Store
*.vscode
*.vscode/*
*.json
/docs/Formal/out/